<article class="reply clearfix">
  <div class="avatar">
    <%= link_to "#" do %>
      <%= image_tag "default_avatar.png", class: "image-circle" %>
    <% end %>
  </div>
  <div class="body">
    <%= form_tag("/issues/#{issue.id}/comments", method: :post) do %>
      <%= label_tag :username, "用户名" %>
      <%= text_field_tag(:username) %>
      <%= label_tag :email, "邮箱" %>
      <%= text_field_tag(:email) %>
      <%= text_area_tag(:content) %>
      <%= submit_tag '提交评论', class: 'btn btn-primary btn-submit' %>
    <% end %>
  </div>
</article>
